#externalGrid{
	width:454px;
	height:454px;
	background-color: blue;
	position: relative;
}

h1{
	text-align: center;
	margin:0;
	padding-top:200px;
}

.cell {
	position: absolute;
	border:2px solid black;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
	line-height: 45px;
	background: red;
}

.firstly{
	color:brown;
}

#border1, #border2, #border3, #border4 {
	position: absolute;
	z-index: 1;
	background: black;
}

#border1 {
	left: 148px;
	width: 4px;
	top: 0;
	height: 100%;
}

#border2 {
	left: 298px;
	width: 4px;
	top: 0;
	height: 100%;
}

#border3 {
	left: 0;
	width: 100%;
	top: 148px;
	height: 4px;
}

#border4 {
	left: 0;
	width: 100%;
	top: 298px;
	height: 4px;
}

.cell.selection{
	background-color: orange;
}

.cell.selected{
	background-color: green;
	color: black;
}

.cell.digit {
  animation-duration: 0.2s;
  animation-name: appear;
}

.cell.error{
	background-color: blue;
}
.cell.error >div {
	position: relative;
  animation-duration: 0.4s;
  animation-name: wobble;
}

@keyframes appear {
  from {
  	font-size: 0;
  }

  50% {
  	font-size: 50px;
  }

  to {
    font-size: 30px;
  }
}

@keyframes wobble {
  from {
  	left: 0;
  }

  25% {
  	left: -10px;
  }

  50% {
  	left: 10px;
  }

  75% {
  	left: -10px;
  }

  to {
    left: 0;
  }
}

#banner {
	background: red;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
}
#win {
	display: none;
	background: red;
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
}
#lose {
	display: none;
	position: absolute;
	color:blue;
	z-index: 3;
	width: 100%;
	height: 100%;
}
.gray{
	position: absolute;
	background:black;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity:0.3;
}